.cell{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.color-one{
    background-color: blue;
}
.color-two{
    background-color: blueviolet;
}
.color-three{
    background-color: yellow;
}
.color-four{
    background-color: red;
}